/* LoginForm.css */

/* Style the container for responsiveness */
.container-login {
  background-image: url('https://images.unsplash.com/photo-1508060793788-7d5f1c40c4ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njh8fGUlMjBib29rfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formm{
  width: 353px;
    margin-left: -3%;
    border: 1px solid;
    padding: 35px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container-login {
    background-position: center;
  }
}

/* Style the form container */
.formmm-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border: 5px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .formmm-container {
    max-width: 100%;
  }
  .formm {
    max-width: 100%;
  }
}

/* Your other CSS rules remain unchanged */
