/* 
   .container-nav {
    background-image: url('https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=900');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 707px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
  }
  

  
  .headingNav {
    font-size: 3rem;
    color: white;
    
    transition: transform 0.3s ease-in-out;
    margin-right: 790px;
    margin-bottom: 100px;
    max-width: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container-nav:hover .headingNav {
    transform: scale(2,2);
  }
  
.navb{
  color: black;
}
.dropdown-item-custom {
  color: black !important;
}

.NavLinkDiv{
  background-color:white;
  display: flex;
  border-radius: 15px;
  align-items: center;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.admin,
.user {
  color: black; 
  margin: 0 10px;
  transition: color 0.7s ease-in-out; 
}

.admin:hover,
.user:hover {
 font-size: 30px;
 
}


 */










 .container-nav{
  background-image: url('https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=900');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 52rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.headingNav {
  font-size: 3rem;
  color: white;
  margin-top: -18rem;
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .container-nav:hover .headingNav {
  transform: scale(1.3);
} */

.navb {
  background-color: transparent; /* Change background color as needed */
  color: white; /* Change text color as needed */
}

.dropdown-item-custom {
  color: black !important;
}

.NavLinkDiv {
  background-color: white;
  display: flex;
  border-radius: 15px;
  margin-top: -5rem;
  align-items: center;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.admin,
.user {
  color: black;
  margin: 0 10px;
  transition: color 0.7s ease-in-out;
}

/* .admin:hover,
.user:hover {
  font-size: 30px;
} */
